* {
    background-color: aqua;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    color: coral;

}
nav{
    background-color: floralwhite;
}